/*------------------------- Layout styles ------------------------*/


html {
	background: url(../image/bg-body-top.jpg) repeat-x;
}

/*-------------------------	Header --------------------------*/
.header {
	width: auto;
	margin: 0 auto;
}

.header div {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

.header div a#logo {
	display: block;
	height: 110px;
	width: 700px;
	float: left;
}

.header div a#log img {
	border: 0;
}

.header div a#logo img {
	border: 0;
}

.header div div.navigation {
	float: right;
	overflow: hidden;
	height: 30px;
	width: auto;
	margin: 0;
}

.header div div.navigation ul.first {
	background: url(../../image/web/bg-top-navigation-left.png) no-repeat;
	height: 30px;
	padding: 0 0 0 21px;
}

.header div div.navigation ul.first li {
	background: url(../../image/web/bg-top-navigation.png);
}

.header div div.navigation ul li.first a {
	border: 0;
}

.header div div.navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.header div div.navigation ul li {
	float: left;
	background: url(../../image/web/bg-top-navigation2.png);
	height: 30px;
}

.header div div.navigation ul li a:hover,.header div div.navigation ul.first li.selected a,.body .content div.blog div.paging ul li a:hover,.header div div.navigation ul li.selected a
	{
	color: #ef0288;
}

.header div div.navigation ul li a {
	text-decoration: none;
	color: #721c49;
	font-family: arial;
	font-size: 13px;
	text-shadow: 0 1px 0 #fff;
	border-width: 1px;
	border-style: none none none solid;
	border-color: #fff;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	padding: 0 4px;
}

/* -----------------------------헤더 메뉴 시작 -----------------------------  */
.menuBar div#navigation {
	height: 40px;
	background: url(../../image/web/bg-navigation.gif) repeat-x;
	width: auto;
}

.menuBar div#navigation div {
	float: left;
	width: 200px;
	text-align: center;
	font-family: arial;
	color: #fcddf9;
	text-shadow: 0 -1px 0 #920052;
	font-size: 14px;
	text-decoration: none;
	line-height: 40px;
	font-weight: normal;
}

.menuBar div#navigation div#firstMenuBar {
	float: left;
	padding: 0px 0px 0px 150px;
	width: 200px;
	text-align: center;
	font-family: arial;
	color: #fcddf9;
	text-shadow: 0 -1px 0 #920052;
	text-decoration: none;
	line-height: 40px;
	font-weight: normal;
}

.menuBar div#navigation div ul {
	list-style: none;
	margin: auto;
	padding: 0 20px;
	width: auto;
	overflow: hidden;
}

.menuBar div#navigation div ul li {
	margin: auto;
	font-family: arial;
	color: #fcddf9;
	text-shadow: 0 -1px 0 #920052;
	font-size: 14px;
	text-decoration: none;
	line-height: 40px;
	font-weight: normal;
	cursor: pointer;
}

.menuBar div#navigation div ul li.selected a {
	font-weight: bold;
	color: #fff;
	text-shadow: none;
}

.menuBar div#navigation div a:hover {
	font-weight: bold;
	color: #fff;
	text-shadow: none;
}

.menuBar div#navigation ul li:hover {
	font-weight: bold;
	color: #fff;
	text-shadow: none;
}

.menuBar div#navigation ul li.selected {
	background: url(../../image/web/bg-menu-selected.gif) no-repeat center
		top;
	width: 134px;
}

.menuBar div#navigation div a {
	font-family: arial;
	color: #fcddf9;
	text-shadow: 0 -1px 0 #920052;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
}

.menuBar div#navigation ul li a:hover {
	color: #fff;
	font-weight: bold;
	text-shadow: none;
}

.menuBar div#navigation div ul li#subMenu ul#hide {
	display: none;
}

.menuBar div#navigation div ul li#subMenu ul#hide a {
	font-family: arial;
	font-size: 10px;
	color: #DC143C;
	font-weight: normal;
	line-height: 15px;
}

.menuBar div#navigation div ul li#subMenu ul#hide a:hover {
	color: #FFA500;
	font-size: 13px;
	font-weight: bold;
	text-shadow: none;
}

/*----------------------- 헤더 메뉴 끝 ------------------------  */

/*-------------------------	Body --------------------------*/
.body {
	width: 95%;
	margin: 0 auto;
	height: 100%;
	position: relative;
	padding: 75px 0px 0px 0px;
}

.body div {
	position: relative;
}

.body div.center1 {
	left: 0px;
	margin: auto;
	width: 20%;
	height: 80%;
	float: left;
	position: relative;
}

.body div.center2 {
	margin: auto;
	width: 80%;
	height: 100%;
	float: left;
	position: relaltive;
}

.body div.center3 {
	margin: auto;
	width: 15%;
	height: 80px;
	float: left;
	position: relaltive;
}

.fixed-top {
	position: fixed;
	bottom: auto;
	top: 25%;
	margin-left: 85%;
}

* html .fixed-top {
	position: absolute;
	bottom: auto;
	top: expression(eval(document.documentElement.scrollTop +50));
}

/* 	
-------------------------	Footer --------------------------
.footer{
	position:relative;
	padding:37px 0 10px;
	bottom:0px;
	clear:left;
	width:100%;
}
.footer p{
	font-family:arial;
	font-size:14px;
	color:#918889;
	text-align:center;
} */