/*-------------------------	Body --------------------------*/

.body .keywordSearch{
	margin:auto;
	width:69%;
	float:left;
}
#listtable{
	width:80%;
}
#asktable{
	width:80%;
}
.keywordSearch .i_text{
	width:240px;
}

.bestItem{
	margin:0 auto;
	width:69%;
	float:left;
}
.bestItem .i_text{
	width:240px;
}
.best{
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
.skincare{
	margin:auto;
}
.skincare div{
	float:left;
}






.mapSearch{
	margin:auto;
	width:69%;
	float:left;
}
.mapSearch .i_text{
	width:240px;
}
.maplist{
	float:left;
	width:20%;
}
.map{
	margin-right:auto;
	margin-left:auto;
}